ORCHESTRATOR_MODEL=vertex_ai/gemini-2.0-flash
MODEL=vertex_ai/gemini-2.5-flash
EDA_MODEL=vertex_ai/gemini-2.0-flash-lite
GCP_PROJECT_ID=agentic-ai-487001
BQ_DATASET=bigquery-public-data.google_analytics_sample
BQ_DATE_START=20160801
BQ_DATE_END=20170801
